
.selectedPage{
  font-weight: bold;
}
.Users{
  display: flex;
  max-width:700px;
  justify-content: space-around;
  align-items: center;
  border: 1px dashed red;
  margin: 0 auto;
  margin-top: 20px;
  
  .UsersDetail{

    display: flex;
    flex-direction: column;
    margin-right: 20px;
    text-align: center;
    align-items: center;
  }
}
.UsersDetailLocation{
  display: flex;
  flex-direction: column;
}
.Photourl{
width: 120px;
  border-radius: 50%;
}
.photoCenter {
  margin: 0 auto;
  width: 175px;

}
.userDetailed{
  max-width: 175px;
}