.posts{
    padding: 10px;
}

.postsBlock{
    ;
    padding: 10px;
    button{
        padding: 15px;
        border: none;
        background: firebrick;
        color:#fff;
        font-size: 18px;
    }
}